<html>
    <head>
        <title>Your Feed</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        {% for post in posts %}
        <h3>
          Posted by: {{ post.user.username }}
        </h3>
        <img src="{{ post.image_url }}" height=100 width=100>
        <span>
          {{ post.caption }}
        </span>
        <div style="display:inline-block">
            {{ post.like_count }} like this
        </div>
        <form method="POST" action="/like/">
          {% csrf_token %}
          <input type="hidden" name="post" value="{{ post.id }}">
          <input type="submit" class="btn btn-default" value="Like">
        </form>
        <form method="POST" action="/comment/">
            {% csrf_token %}
            <input type="hidden" name="post" value="{{ post.id }}" >
            <input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">
            {{ comment_text }}
            <input type="submit" class="btn-default btn" value="Comment">
        </form>
        <div>
        {% for comment in post.comments %}

        <p>
          {{ comment.user.username }}
          {{ comment.created_on }}: {{ comment.comment_text }}
        </p>

      {% endfor %}

      </div>
        {% endfor %}

    </body>
</html>